@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html body {
  font-family: "Pretendard", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}

:root {
  --margin-grid-system: 0 140px;
  --maxWidth-grid-system: 1640px;
  --minWidth-block-system: 1920px;
  --minHeight--block-system: 100dvh;
  --primary-color: rgba(50, 166, 255, 1);
  --main-color-gray: rgba(18, 18, 18, 1);
  --color-black: #000;
  --color-white: #fff;
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: var(--minWidth-block-system);
  position: relative;
  background-color: var(--color-white);
}
main .shortcut {
  position: fixed;
  right: 1%;
  bottom: 2%;
  color: var(--color-white);
  z-index: 10;
  background-color: rgba(8, 90, 153, 0.8);
  border: 1px solid rgba(8, 90, 153, 0.8);
  padding: 16px 28px;
  border-radius: 36px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
main .shortcut span {
  font-size: 14px;
}
main .shortcut:hover {
  font-weight: 700;
  background-color: var(--color-white);
  color: rgba(8, 90, 153, 0.8);
  transition: all 0.3s ease-in-out;
}
main .sec-1 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
}
main .sec-1 .text-container {
  color: var(--color-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: var(--margin-grid-system);
  display: flex;
  flex-direction: column;
  gap: 120px;
  z-index: 2;
}
main .sec-1 .text-container .title-wrppaer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .sec-1 .text-container .title-wrppaer h1 {
  font-weight: 600;
  font-size: 36px;
}
main .sec-1 .text-container .title-wrppaer span {
  font-weight: 600;
  font-size: 20px;
}
main .sec-1 .text-container .logo-box {
  width: 510px;
  height: 146px;
  box-sizing: border-box;
  overflow: hidden;
}
main .sec-1 .text-container .logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .sec-1 .text-container .tools-box {
  display: flex;
  gap: 1.6px;
  margin-top: 96px;
}
main .sec-1 .text-container .tools-box .tools-wrapper {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
}
main .sec-1 .text-container .tools-box .tools-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .sec-1 .bg-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}
main .sec-1 .bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: var(--minHeight--block-system);
}

.sec-2 {
  width: 100%;
  height: 100%;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2 .text-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sec-2 .text-container h3 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 32px;
}
.sec-2 .text-container span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.sec-3 {
  width: 100%;
  height: 1240px;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 .bg-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-black);
}
.sec-3 .bg-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: var(--minHeight--block-system);
}
.sec-3 .text-container {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 140px 0;
  max-width: var(--maxWidth-grid-system);
}
.sec-3 .text-container .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sec-3 .text-container .title-wrapper h3 {
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
}
.sec-3 .text-container .title-wrapper h4 {
  font-weight: 600;
  font-size: 28px;
}
.sec-3 .text-container .title-wrapper span {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.sec-3 .text-container .contents-container {
  width: 100%;
}
.sec-3 .text-container .contents-container .covered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  margin-bottom: 60px;
}
.sec-3 .text-container .contents-container .covered-wrapper span {
  flex-grow: 1;
  flex-basis: 0;
  font-weight: 600;
  font-size: 24px;
}
.sec-3 .text-container .contents-container .visualboxes-wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec-3 .text-container .contents-container .visualboxes-wrapper .visualbox {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 80px;
  background-color: rgba(18, 18, 18, 0.3);
  border-radius: 12px;
  padding: 42px 20px;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  flex-basis: 0;
  color: rgba(221, 221, 221, 0.8);
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-left
  h5 {
  font-weight: 600;
  font-size: 24px;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-left
  span {
  font-weight: 500;
  font-size: 18px;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .arrow-box {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .arrow-box
  img {
  width: 100%;
  object-fit: cover;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  flex-basis: 0;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-right
  h5 {
  font-weight: 600;
  font-size: 24px;
}
.sec-3
  .text-container
  .contents-container
  .visualboxes-wrapper
  .visualbox
  .visual-right
  span {
  font-weight: 500;
  font-size: 18px;
}

.sec-4 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 60px 0;
}
.sec-4 .title {
  width: 100%;
  padding: var(--margin-grid-system);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sec-4 .systems-container {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  padding: var(--margin-grid-system);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.sec-4 .systems-container .typo-box {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sec-4 .systems-container .typo-box .sub-title {
  padding: 100px 0 20px 0;
  font-weight: 600;
  font-size: 32px;
}
.sec-4 .systems-container .typo-box .content-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.sec-4 .systems-container .typo-box .content-box .text-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-4 .systems-container .typo-box .content-box .text-box .text-en {
  font-weight: 500;
  font-size: 22px;
}
.sec-4 .systems-container .typo-box .content-box .text-box .text-kr {
  font-weight: 600;
  font-size: 64px;
}
.sec-4 .systems-container .typo-box .content-box .text-ex-box {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.sec-4 .systems-container .typo-box .content-box .text-ex-box .text-ex-kr-box {
  width: 346px;
  height: 230px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.sec-4
  .systems-container
  .typo-box
  .content-box
  .text-ex-box
  .text-ex-kr-box
  img {
  width: 100%;
  object-fit: cover;
}
.sec-4 .systems-container .typo-box .content-box .text-ex-box .text-ex-en-box {
  width: 295px;
  height: 187px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.sec-4
  .systems-container
  .typo-box
  .content-box
  .text-ex-box
  .text-ex-en-box
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-4 .systems-container .color-box {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sec-4 .systems-container .color-box .sub-title {
  padding: 100px 0 20px 0;
  font-weight: 600;
  font-size: 32px;
}
.sec-4 .systems-container .color-box .content-box {
  width: 720px;
  height: 438px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
}
.sec-4 .systems-container .color-box .content-box img {
  width: 100%;
  object-fit: cover;
}

.sec-5 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 24px;
  padding: 60px 0;
}
.sec-5 .sub-title {
  padding: 100px 140px 20px 140px;
  width: 100%;
  font-weight: 600;
  font-size: 32px;
}
.sec-5 .sum-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--margin-grid-system);
}
.sec-5 .sum-box .grid-items {
  display: flex;
  gap: 20px;
  align-items: center;
  white-space: nowrap;
}
.sec-5 .sum-box .grid-items .list-circle {
  width: 12px;
  height: 12px;
  border-radius: 720px;
  background-color: var(--color-white);
}
.sec-5 .sum-box .grid-items .grid-ex {
  font-weight: 400;
  font-size: 24px;
}
.sec-5 .grid-box {
  width: 100%;
  padding: var(--margin-grid-system);
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.sec-5 .grid-box img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.sec-6 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-6 h3 {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  margin: var(--margin-grid-system);
  font-weight: 700;
  font-size: 32px;
  color: var(--color-white);
}
.sec-6 .bg-container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.sec-6 .bg-container img {
  width: 100%;
  object-fit: cover;
}

.sec-7 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-7 .title-box {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 10;
  padding: var(--margin-grid-system);
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.sec-7 .title-box .title {
  font-weight: 700;
  font-size: 46px;
  color: var(--primary-color);
}
.sec-7 .title-box span {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;
}
.sec-7 .bg-container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-7 .bg-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.75);
}

.sec-8 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
}
.sec-8 .mockup-container {
  position: absolute;
  top: 0;
  right: -10%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-8 .mockup-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.8);
}
.sec-8 .brief-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 12px;
}
.sec-8 .brief-wrapper .circleline-box {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.sec-8 .brief-wrapper .circleline-box .cirlce {
  width: 12px;
  height: 12px;
  border-radius: 72px;
  background-color: var(--primary-color);
}
.sec-8 .brief-wrapper .circleline-box .line {
  width: 200px;
  height: 1px;
  background-color: var(--primary-color);
}
.sec-8 .brief-wrapper .text-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-8 .brief-wrapper .text-box h6 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(18, 18, 18);
}
.sec-8 .brief-wrapper .text-box span {
  font-weight: 400;
  font-size: 18px;
  color: rgba(18, 18, 18, 0.7);
}

.sec-9 {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-9 .mockup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -22.5%;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec-9 .mockup-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.75);
}
.sec-9 .img-container {
  margin-top: 770px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: -22.5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
}
.sec-9 .img-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.435);
  border-radius: 0 0 36px 36px;
}
.sec-9 .brief-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 95.5%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: reverse;
  align-items: flex-start;
  gap: 12px;
}
.sec-9 .brief-wrapper .circleline-box {
  margin-top: 6px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.sec-9 .brief-wrapper .circleline-box .cirlce {
  width: 12px;
  height: 12px;
  border-radius: 72px;
  background-color: var(--primary-color);
}
.sec-9 .brief-wrapper .circleline-box .line {
  width: 200px;
  height: 1px;
  background-color: var(--primary-color);
}
.sec-9 .brief-wrapper .text-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-9 .brief-wrapper .text-box h6 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(18, 18, 18);
}
.sec-9 .brief-wrapper .text-box span {
  font-weight: 400;
  font-size: 18px;
  color: rgba(18, 18, 18, 0.7);
}
.sec-9 .brief-wrapper-1 {
  top: 42.5%;
}
.sec-9 .brief-wrapper-2 {
  top: 102.5%;
}
.sec-9 .brief-wrapper-3 {
  top: 145%;
}

.sec-10 {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-10 .mockup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -22.5%;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec-10 .mockup-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.75);
}
.sec-10 .img-container {
  margin-top: 850px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: -22.5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
}
.sec-10 .img-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.435);
  border-radius: 0 0 36px 36px;
}
.sec-10 .brief-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  right: -3.5%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 12px;
}
.sec-10 .brief-wrapper .circleline-box {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.sec-10 .brief-wrapper .circleline-box .cirlce {
  width: 12px;
  height: 12px;
  border-radius: 72px;
  background-color: var(--primary-color);
}
.sec-10 .brief-wrapper .circleline-box .line {
  width: 200px;
  height: 1px;
  background-color: var(--primary-color);
}
.sec-10 .brief-wrapper .text-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-10 .brief-wrapper .text-box h6 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(18, 18, 18);
}
.sec-10 .brief-wrapper .text-box span {
  font-weight: 400;
  font-size: 18px;
  color: rgba(18, 18, 18, 0.7);
}
.sec-10 .brief-wrapper-1 {
  top: 42.5%;
}
.sec-10 .brief-wrapper-2 {
  top: 112.5%;
}
.sec-10 .brief-wrapper-3 {
  top: 155%;
}

.sec-bg {
  width: 100%;
  height: 100%;
  min-height: 80dvh;
}

.sec-bg-2 {
  width: 100%;
  height: 100%;
  min-height: var(--minHeight--block-system);
}

.sec-11 {
  width: 100%;
  height: 1080px;
  position: relative;
  min-height: var(--minHeight--block-system);
}
.sec-11 .mockup-container {
  position: absolute;
  top: -17.5%;
  left: -10.25%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-11 .mockup-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(0.8);
}
.sec-11 .brief-wrapper {
  width: 100%;
  position: absolute;
  top: 33.5%;
  left: 84.5%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.sec-11 .brief-wrapper .circleline-box {
  margin-top: 6px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.sec-11 .brief-wrapper .circleline-box .cirlce {
  width: 12px;
  height: 12px;
  border-radius: 72px;
  background-color: var(--primary-color);
}
.sec-11 .brief-wrapper .circleline-box .line {
  width: 200px;
  height: 1px;
  background-color: var(--primary-color);
}
.sec-11 .brief-wrapper .text-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec-11 .brief-wrapper .text-box h6 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(18, 18, 18);
}
.sec-11 .brief-wrapper .text-box span {
  font-weight: 400;
  font-size: 18px;
  color: rgba(18, 18, 18, 0.7);
}

footer {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
}
footer .img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .text-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--margin-grid-system);
  padding-bottom: 40px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .text-container .text-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer .text-container .text-item h6 {
  font-weight: bold;
  font-size: 24px;
}
footer .text-container .text-item span {
  font-weight: medium;
  font-size: 22px;
} /*# sourceMappingURL=style.css.map */
