// Add on Font ------------------------------------------------------------ //
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
// Normalize ------------------------------------------------------------ //
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
// Styler ------------------------------------------------------------ //
* {
  box-sizing: border-box;
}

html body {
  font-family: "Pretendard", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}
// Variable ------------------------------------------------------------ //
:root {
  --margin-grid-system: 0 140px;
  --maxWidth-grid-system: 1640px;
  --minWidth-block-system: 1920px;
  --minHeight--block-system: 100dvh;
  --primary-color: rgba(50, 166, 255, 1);
  --main-color-gray: rgba(18, 18, 18, 1);
  --color-black: #000;
  --color-white: #fff;
}
// main ------------------------------------------------------------ //
main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: var(--minWidth-block-system);
  position: relative;
  background-color: var(--color-white);
  // shortcut ------------------------------------------------------------ //
  .shortcut {
    position: fixed;
    right: 1%;
    bottom: 2%;
    color: var(--color-white);
    z-index: 10;
    background-color: rgba(8, 90, 153, 0.8);
    border: 1px solid rgba(8, 90, 153, 0.8);
    padding: 16px 28px;
    border-radius: 36px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;

    span {
      font-size: 14px;
    }

    &:hover {
      font-weight: 700;
      background-color: var(--color-white);
      color: rgba(8, 90, 153, 0.8);
      transition: all 0.3s ease-in-out;
    }
  }
  // sec-1 ------------------------------------------------------------ //
  .sec-1 {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: var(--minHeight--block-system);

    .text-container {
      color: var(--color-white);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: var(--margin-grid-system);
      display: flex;
      flex-direction: column;
      gap: 120px;
      z-index: 2;

      .title-wrppaer {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
          font-weight: 600;
          font-size: 36px;
        }

        span {
          font-weight: 600;
          font-size: 20px;
        }
      }

      .logo-box {
        width: 510px;
        height: 146px;
        box-sizing: border-box;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .tools-box {
        display: flex;
        gap: 1.6px;
        margin-top: 96px;

        .tools-wrapper {
          width: 40px;
          height: 40px;
          box-sizing: border-box;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .bg-container {
      width: 100%;
      height: auto;
      overflow: hidden;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: var(--minHeight--block-system);
      }
    }
  }
}
// sec-2 ------------------------------------------------------------ //
.sec-2 {
  width: 100%;
  height: 100%;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    h3 {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 32px;
    }

    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
// sec-3 ------------------------------------------------------------ //
.sec-3 {
  width: 100%;
  height: 1240px;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-black);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: var(--minHeight--block-system);
    }
  }

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-white);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 140px 0;
    max-width: var(--maxWidth-grid-system);

    .title-wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h3 {
        font-weight: 600;
        font-size: 32px;
        color: var(--primary-color);
      }

      h4 {
        font-weight: 600;
        font-size: 28px;
      }

      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
      }
    }

    .contents-container {
      width: 100%;

      .covered-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 180px;
        margin-bottom: 60px;

        span {
          flex-grow: 1;
          flex-basis: 0;
          font-weight: 600;
          font-size: 24px;
        }
      }

      .visualboxes-wrapper {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .visualbox {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          gap: 80px;
          background-color: rgba(18, 18, 18, 0.3);
          border-radius: 12px;
          padding: 42px 20px;

          .visual-left {
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex-grow: 1;
            flex-basis: 0;
            color: rgba(221, 221, 221, 0.8);

            h5 {
              font-weight: 600;
              font-size: 24px;
            }

            span {
              font-weight: 500;
              font-size: 18px;
            }
          }

          .arrow-box {
            width: 24px;
            height: 24px;
            box-sizing: border-box;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .visual-right {
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex-grow: 1;
            flex-basis: 0;

            h5 {
              font-weight: 600;
              font-size: 24px;
            }

            span {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
// sec-4 ------------------------------------------------------------ //
.sec-4 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 1);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 60px 0;

  .title {
    width: 100%;
    padding: var(--margin-grid-system);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .systems-container {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding: var(--margin-grid-system);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    .typo-box {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .sub-title {
        padding: 100px 0 20px 0;
        font-weight: 600;
        font-size: 32px;
      }

      .content-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;

        .text-box {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .text-en {
            font-weight: 500;
            font-size: 22px;
          }

          .text-kr {
            font-weight: 600;
            font-size: 64px;
          }
        }

        .text-ex-box {
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .text-ex-kr-box {
            width: 346px;
            height: 230px;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .text-ex-en-box {
            width: 295px;
            height: 187px;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .color-box {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .sub-title {
        padding: 100px 0 20px 0;
        font-weight: 600;
        font-size: 32px;
      }

      .content-box {
        width: 720px;
        height: 438px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        border-radius: 12px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// sec-5 ------------------------------------------------------------ //
.sec-5 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 1);
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 24px;
  padding: 60px 0;

  .sub-title {
    padding: 100px 140px 20px 140px;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
  }

  .sum-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--margin-grid-system);

    .grid-items {
      display: flex;
      gap: 20px;
      align-items: center;
      white-space: nowrap;

      .list-circle {
        width: 12px;
        height: 12px;
        border-radius: 720px;
        background-color: var(--color-white);
      }

      .grid-ex {
        font-weight: 400;
        font-size: 24px;
      }
    }
  }

  .grid-box {
    width: 100%;
    padding: var(--margin-grid-system);
    height: auto;
    overflow: hidden;
    box-sizing: border-box;

    img {
      width: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  }
}
// sec-6 ------------------------------------------------------------ //
.sec-6 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    margin: var(--margin-grid-system);
    font-weight: 700;
    font-size: 32px;
    color: var(--color-white);
  }

  .bg-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
// sec-7 ------------------------------------------------------------ //
.sec-7 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .title-box {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 10;
    padding: var(--margin-grid-system);
    display: flex;
    flex-direction: column;
    gap: 54px;

    .title {
      font-weight: 700;
      font-size: 46px;
      color: var(--primary-color);
    }

    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: -1px;
    }
  }

  .bg-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.75);
    }
  }
}
// sec-8 ------------------------------------------------------------ //
.sec-8 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);

  .mockup-container {
    position: absolute;
    top: 0;
    right: -10%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.8);
    }
  }

  .brief-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 12px;

    .circleline-box {
      margin-top: 6px;
      display: flex;
      align-items: center;

      .cirlce {
        width: 12px;
        height: 12px;
        border-radius: 72px;
        background-color: var(--primary-color);
      }

      .line {
        width: 200px;
        height: 1px;
        background-color: var(--primary-color);
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h6 {
        font-weight: 600;
        font-size: 24px;
        color: rgba(18, 18, 18, 1);
      }

      span {
        font-weight: 400;
        font-size: 18px;
        color: rgba(18, 18, 18, 0.7);
      }
    }
  }
}
// sec-9 ------------------------------------------------------------ //
.sec-9 {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .mockup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -22.5%;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.75);
    }
  }

  .img-container {
    margin-top: 770px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: -22.5%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 5;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.435);
      border-radius: 0 0 36px 36px;
    }
  }

  .brief-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 95.5%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: reverse;
    align-items: flex-start;
    gap: 12px;

    .circleline-box {
      margin-top: 6px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .cirlce {
        width: 12px;
        height: 12px;
        border-radius: 72px;
        background-color: var(--primary-color);
      }

      .line {
        width: 200px;
        height: 1px;
        background-color: var(--primary-color);
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h6 {
        font-weight: 600;
        font-size: 24px;
        color: rgba(18, 18, 18, 1);
      }

      span {
        font-weight: 400;
        font-size: 18px;
        color: rgba(18, 18, 18, 0.7);
      }
    }
  }

  .brief-wrapper-1 {
    top: 42.5%;
  }

  .brief-wrapper-2 {
    top: 102.5%;
  }

  .brief-wrapper-3 {
    top: 145%;
  }
}
// sec-10 ------------------------------------------------------------ //
.sec-10 {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .mockup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -22.5%;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.75);
    }
  }

  .img-container {
    margin-top: 850px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: -22.5%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 5;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.435);
      border-radius: 0 0 36px 36px;
    }
  }

  .brief-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    right: -3.5%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 12px;

    .circleline-box {
      margin-top: 6px;
      display: flex;
      align-items: center;

      .cirlce {
        width: 12px;
        height: 12px;
        border-radius: 72px;
        background-color: var(--primary-color);
      }

      .line {
        width: 200px;
        height: 1px;
        background-color: var(--primary-color);
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h6 {
        font-weight: 600;
        font-size: 24px;
        color: rgba(18, 18, 18, 1);
      }

      span {
        font-weight: 400;
        font-size: 18px;
        color: rgba(18, 18, 18, 0.7);
      }
    }
  }

  .brief-wrapper-1 {
    top: 42.5%;
  }

  .brief-wrapper-2 {
    top: 112.5%;
  }

  .brief-wrapper-3 {
    top: 155%;
  }
}
// sec-bg ------------------------------------------------------------ //
.sec-bg {
  width: 100%;
  height: 100%;
  min-height: 80dvh;
}

.sec-bg-2 {
  width: 100%;
  height: 100%;
  min-height: var(--minHeight--block-system);
}
// sec-11 ------------------------------------------------------------ //
.sec-11 {
  width: 100%;
  height: 1080px;
  position: relative;
  min-height: var(--minHeight--block-system);

  .mockup-container {
    position: absolute;
    top: -17.5%;
    left: -10.25%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(0.8);
    }
  }

  .brief-wrapper {
    width: 100%;
    position: absolute;
    top: 33.5%;
    left: 84.5%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: flex-start;
    gap: 12px;

    .circleline-box {
      margin-top: 6px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .cirlce {
        width: 12px;
        height: 12px;
        border-radius: 72px;
        background-color: var(--primary-color);
      }

      .line {
        width: 200px;
        height: 1px;
        background-color: var(--primary-color);
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h6 {
        font-weight: 600;
        font-size: 24px;
        color: rgba(18, 18, 18, 1);
      }

      span {
        font-weight: 400;
        font-size: 18px;
        color: rgba(18, 18, 18, 0.7);
      }
    }
  }
}
// footer ------------------------------------------------------------ //
footer {
  width: 100%;
  min-width: var(--minWidth-block-system);
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 1);

  .img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--margin-grid-system);
    padding-bottom: 40px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      h6 {
        font-weight: bold;
        font-size: 24px;
      }

      span {
        font-weight: medium;
        font-size: 22px;
      }
    }
  }
}
