// Add on Font ------------------------------------------------------------ //
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
// Normalize ------------------------------------------------------------ //
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
// Styler ------------------------------------------------------------ //
* {
  box-sizing: border-box;
}

html {
  font-size: max(6px, 0.52083333vw);
}

html body {
  font-family: "Pretendard", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}
// Variable ------------------------------------------------------------ //
:root {
  --margin-grid-system: 0 14rem;
  --maxWidth-grid-system: 164rem;
  --minWidth-block-system: 344px;
  --minHeight--block-system: 100dvh;
  --primary-color: rgba(50, 166, 255, 1);
  --main-color-gray: rgba(18, 18, 18, 1);
  --color-black: #000;
  --color-white: #fff;
}
// main ------------------------------------------------------------ //
main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: var(--minWidth-block-system);
  position: relative;
  // shortcut ------------------------------------------------------------ //
  .shortcut {
    position: fixed;
    right: 1%;
    bottom: 2%;
    color: var(--color-white);
    z-index: 10;
    background-color: rgba(8, 90, 153, 0.8);
    border: 1px solid rgba(8, 90, 153, 0.8);
    padding: 1.6rem 2.8rem;
    border-radius: 3.6rem;
    transition: all 0.3s ease-in-out;
    font-weight: 500;

    span {
      font-size: 1.4rem;
    }

    &:hover {
      font-weight: 700;
      background-color: var(--color-white);
      color: rgba(8, 90, 153, 0.8);
      transition: all 0.3s ease-in-out;
    }
  }
  // sec-1 ------------------------------------------------------------ //
  .sec-1 {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: var(--minHeight--block-system);

    .text-container {
      color: var(--color-white);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: var(--margin-grid-system);
      display: flex;
      flex-direction: column;
      gap: 12rem;
      z-index: 2;

      .title-wrppaer {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        h1 {
          font-weight: 600;
          font-size: 3.6rem;
        }

        span {
          font-weight: 600;
          font-size: 2rem;
        }
      }

      .logo-box {
        width: 51rem;
        height: 14.6rem;
        box-sizing: border-box;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .tools-box {
        display: flex;
        gap: 1.6rem;
        margin-top: 9.6rem;

        .tools-wrapper {
          width: 4rem;
          height: 4rem;
          box-sizing: border-box;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .bg-container {
      width: 100%;
      height: auto;
      overflow: hidden;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: var(--minHeight--block-system);
      }
    }
  }
}
// sec-2 ------------------------------------------------------------ //
.sec-2 {
  width: 100%;
  height: 100%;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    h3 {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 3.2rem;
    }

    span {
      font-weight: 500;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
// sec-3 ------------------------------------------------------------ //
.sec-3 {
  width: 100%;
  height: 124rem;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-black);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: var(--minHeight--block-system);
    }
  }

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-white);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14rem 0;
    max-width: var(--maxWidth-grid-system);

    .title-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      h3 {
        font-weight: 600;
        font-size: 3.2rem;
        color: var(--primary-color);
      }

      h4 {
        font-weight: 600;
        font-size: 2.8rem;
      }

      span {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }

    .contents-container {
      width: 100%;

      .covered-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18rem;
        margin-bottom: 6rem;

        span {
          flex-grow: 1;
          flex-basis: 0;
          font-weight: 600;
          font-size: 2.4rem;
        }
      }

      .visualboxes-wrapper {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .visualbox {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          gap: 8rem;
          background-color: rgba(18, 18, 18, 0.3);
          border-radius: 1.2rem;
          padding: 4.2rem 2rem;

          .visual-left {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            flex-grow: 1;
            flex-basis: 0;
            color: rgba(221, 221, 221, 0.8);

            h5 {
              font-weight: 600;
              font-size: 2.4rem;
            }

            span {
              font-weight: 500;
              font-size: 1.8rem;
            }
          }

          .arrow-box {
            width: 2.4rem;
            height: 2.4rem;
            box-sizing: border-box;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .visual-right {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            flex-grow: 1;
            flex-basis: 0;

            h5 {
              font-weight: 600;
              font-size: 2.4rem;
            }

            span {
              font-weight: 500;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
// sec-4 ------------------------------------------------------------ //
.sec-4 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 1);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 6rem 0;

  .title {
    width: 100%;
    padding: var(--margin-grid-system);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 3.2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .systems-container {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding: var(--margin-grid-system);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

    .typo-box {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      .sub-title {
        padding: 10rem 0 2rem 0;
        font-weight: 600;
        font-size: 3.2rem;
      }

      .content-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10rem;

        .text-box {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          .text-en {
            font-weight: 500;
            font-size: 2.2rem;
          }

          .text-kr {
            font-weight: 600;
            font-size: 6.4rem;
          }
        }

        .text-ex-box {
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .text-ex-kr-box {
            width: 34.6rem;
            height: 23rem;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .text-ex-en-box {
            width: 29.5rem;
            height: 18.7rem;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .color-box {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      .sub-title {
        padding: 10rem 0 2rem 0;
        font-weight: 600;
        font-size: 3.2rem;
      }

      .content-box {
        width: 72rem;
        height: 43.8rem;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        border-radius: 1.2rem;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// sec-5 ------------------------------------------------------------ //
.sec-5 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 1);
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 2.4rem;
  padding: 6rem 0;

  .sub-title {
    padding: 10rem 14rem 2rem 14rem;
    width: 100%;
    font-weight: 600;
    font-size: 3.2rem;
  }

  .sum-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--margin-grid-system);

    .grid-items {
      display: flex;
      gap: 2rem;
      align-items: center;
      white-space: nowrap;

      .list-circle {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 72rem;
        background-color: var(--color-white);
      }

      .grid-ex {
        font-weight: 400;
        font-size: 2.4rem;
      }
    }
  }

  .grid-box {
    width: 100%;
    max-width: var(--maxWidth-grid-system);
    height: 67.8rem;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2.4rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
// sec-6 ------------------------------------------------------------ //
.sec-6 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    position: absolute;
    top: 10%;
    left: 0;
    margin: var(--margin-grid-system);
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--color-white);
  }
}
// sec-7 ------------------------------------------------------------ //
.sec-7 {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: var(--minHeight--block-system);
  display: flex;
  justify-content: center;
  align-items: center;
}
